.popover__container {
  position: absolute;

  top: 100%;
  left: 50%;

  transform: translateX(-50%);

  background-color: #fff;

  width: 208px;

  margin-top: 8px;
}

.popover__container::before {
  content: "";

  position: absolute;

  bottom: 100%;
  left: 50%;

  transform: translateX(-50%);

  width: 0;
  height: 0;

  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent #f09035 transparent;
}

.popover__container-title {
  font-size: 18px;

  color: #fff;
  background-color: #f09035;

  padding: 9px 11px;

  border-radius: 4px 4px 0 0;
}
.popover__container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background: #f8f8f8;
  padding: 9px 11px;
  border-radius: 0 0 4px 4px;
}

.popover__container-subtitle {
  font-size: 14px;
  font-weight: bold;
  color: #bc2e31;
  margin-top: 9px;
}

.poppover-orderInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  padding: 0px 10px;
}
.poppover-orderInformation span {
  font-size: 14px;
  color: #bc2e31;
  font-weight: bold;
}

.poppover-orderInformation li:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 5px;
  background: #084583;
  border-radius: 10px;
}
