.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;

  background: var(--background-header);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 40px;
  gap: 24px;

  max-width: 100%;
  width: 1280px;
  height: auto;
}

.header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header_buttons-andress-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__buttons-address {
  display: flex;
  justify-content: space-between;
  width: 230px;
  height: 48px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px;
  cursor: pointer;
}

.header__buttons-address button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  max-width: 230px;
  max-height: 48px;
}

.header__buttons-address button span {
  letter-spacing: 0.2px;
  font-size: 12px;
  color: var(--text-red);
  font-weight: 400;
}

.header__buttons-address button p {
  font-size: 12px;
  font-weight: 700;
  color: rgb(78, 78, 78);
}

.header__buttons-login button,
.header__buttons-cart button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-red);
}

@media screen and (max-width: 1150px) {
  .header__logo img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 910px) {
  .header__buttons-login span,
  .header__buttons-cart span {
    display: none;
  }

  .header__buttons:nth-child(3) button:hover {
    transform: scale(1.15);
  }
}

@media screen and (max-width: 800px) {
  .header__buttons {
    display: none;
  }

  .header__navbar,
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__navbar,
  .header__logo:hover {
    content: "<";
  }
}
