/* .section__ingredient {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} */

.ingredient__container {
  width: 100%;
  height: auto;
  border: 1px solid #686868;
  border-radius: 8px;
}

.ingredient__container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  padding: 32px;
}

.ingredient__container-info,
.singleOption {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: rgba(253, 215, 14, 0.2);
  padding: 0.8rem 1rem 0.3rem 1rem;
}

.singleOption h1 {
  font-size: 14px;
  color: var(--text-primary);
}

.ingredient__container-info h1 {
  font-size: 14px;
  color: #4e4e4e;
  line-height: 16px;
}
.ingredient__container-info span {
  font-size: 12px;
  color: #e49700;
  line-height: 20px;
}

.order__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.additional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.additional__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.additional__title {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.additional__title h1 {
  font-size: 14px;
  color: #4e4e4e;
  line-height: 16px;
}
.additional__title span {
  font-size: 14px;
  color: #f09035;
  line-height: 16px;
}

.additional__buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #f09035;
  border-radius: 5px;

  width: 99px;
  height: 32px;
}
.additional__buttons button {
  max-width: 89px;
  height: auto;
}
.additional__buttons input {
  padding: 8px 4px;

  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  width: 1.5rem;
  height: 0;
  border: 0;
}
.additional__buttons svg {
  color: red;
}

.additional__line {
  margin: 0.6rem 0;
  border: 1px solid #e8a634;
}

.singleOption-options {
  display: flex;
  gap: 10px;
}

.singleOption-options div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.singleOption-options span {
  font-size: 14px;
  color: var(--text-primary);
}

.singleOption-options input {
  font-size: 14px;
  color: var(--text-primary);
}

.singleOption-options button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.ingredient__submit button:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #f09035;
  border-radius: 4px;
  width: 219px;
  height: 40px;
}
.additional__buttons:nth-child(1) {
  display: flex;
  justify-content: space-around;

  width: 140px;
  height: 40px;
}

@media screen and (max-width: 425px) {
  .ingredient__container {
    border: none;
    max-width: 100%;
  }
  .section__ingredient {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
